<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block tittle %}{% endblock %}</title>

    {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  
    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">
  
    <!-- Custom styles for this template -->
    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">
</head>
<body>

        {% block navbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
            <div class="container">
              <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">GobData</a>
              <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menú
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item mx-0 mx-lg-1">
                        <form class="form-inline ml-auto">
                                {% if User %}
                                <a class="btn btn-xl btn-outline-light nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'usuarios:logout' %}" role="button">Logout</a>
                                 {% endif %}
                        </form>
                 </li>
                </ul>
              </div>
            </div>
          </nav>


        {% endblock %}


                {% block content %}
                {% endblock content%}

    {% block footer %}
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyleft Asociación TRACODA 2019</small>
      </div>
    </div>
  {% endblock footer  %}
</body>
</html>
