{% extends './base.html' %}
{% load staticfiles %}


{% block container %}

<h5>Para todo tramite con la alcaldia es reqerido Firma y documento de identidad</h5>

<div class="row justify-content-md-center">
        <form action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.errors %}
                <p class="alert alert-danger">{{ form.errors }}</p>
            {% endif %}

            <div class="media" id='Firma-Div'>
                    <img src="{% static '/firmas/firma.jpeg' %}" class="img-responsive" height="100" alt="Image">                    
                <div class="media-body">
                    <h4 class="media-heading">Firma legal</h4>
                    <p class="ml-4"><input type="file" name="firma" required="true"></p>
                </div>
            </div>
            <div class="media" id='DocumentoAnterior-Div'>
                    <img src="{% static '/documentos/duiAnterior.jpeg' %}" class="img-responsive" height="100" alt="Image">                    
                <div class="media-body">
                    <h4 class="media-heading">Documento (Vista Anterior)</h4>
                    <p class="ml-4"><input type="file" name="documentoFotoAnterior" required="true"></p>
                </div>
            </div>
            <div class="media" id='DocumentoPosterior-Div'>
                    <img src="{% static '/documentos/duiPosterior.jpeg' %}" class="img-responsive" height="100" alt="Image">                    
                <div class="media-body">
                    <h4 class="media-heading">Documento (Vista Posterior)</h4>
                    <p class="ml-4"><input type="file" name="documentoFotoPosterior" required="true"></p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-5">Subir Documentos</button>
        </form>
</div>

{% endblock  %}
    