{% extends './base.html' %}


{% block tittle %}
    login
{% endblock %}
    
{% block content %}
<section>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
<form method="POST" action="">
        {% csrf_token %}

        <div class="form-group">
            <label>Usuario:</label>
            <input class="form-control" type="text" placeholder="alguien@ejemplo.com" name="username" />
        </div>

        <div class="form-group">
            <label >Contraseña:</label>
            <input class="form-control" type="password" placeholder="Ingrese su contraseña" name="password" />
        </div>
        {% if error %}
    
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{error}}</strong> Revisa si has escrito correctamente tus credenciales
        </div>
    {% endif %}
<div class="form-group text-center">
            <button class="btn btn-block mt-5 btn-primary" type="submit">Entrar</button>
        <a class="btn btn-block btn-success" href="{% url 'usuarios:signup' %}" role="button">Registrate</a>   
                </div>
    </form>
    
        </div>
    </div>
</div>
</section>

{% endblock content %}
    