{% extends 'base.html' %}

{% block header %}
<h2>Datos Personales</h2>
{% endblock header %}

{% block content %}
<div class=" container mt-5">
    
    <div class="row justify-content-center">

        <div class="col-6 bg-light">
            <form action="" method="post">
                {% csrf_token %}
                <br>
                <div class="form-group">
                    <label for="primerNombre">Primer Nombre</label>
                    {{form.primerNombre}}
                </div>
                <div class="form-group">
                    <label for="segundoNombre">Segundo Nombre</label>
                    {{form.segundoNombre}}
                </div>
                <div class="form-group">
                    <label for="primerApellido">Primer Apellido</label>
                    {{form.primerApellido}}
                </div>
                <div class="form-group">
                    <label for="segundoApellido">Segundo Apellido</label>
                    {{form.segundoApellido}}
                </div>
                <div class="form-group">
                    <label for="dui">DUI</label>
                    {{form.dui}}
                </div>
                <div class="form-group">
                    <label for="nit">NIT</label>
                    {{form.nit}}
                </div>
                <div class="form-group">
                        <label for="fechaNacimiento">Fecha Nacimiento</label>
                        {{form.fechaNacimiento}}
                </div>
                <p></p>
                <div class="container">
                    <div class="row justify-content-end">
                        <button class="btn btn-outline-success" type="submit">Guardar</button>
                    </div>    
                </div>
                <br>
            </form>
        </div>
    </div>
    
</div>
     
{% endblock content %}