<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
	<!-- Inicia encabezado -->
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">GobData</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
			  <li class="nav-item active">
				<a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item active">
				<a class="nav-link" href="#">¿Quiénes somos?</a>
			  </li>
			  <li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Solicitar información
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">Solicitud simple</a>
					<a class="dropdown-item" href="#">Solicitud en masa</a>
				</div>
			  </li>
			</ul>
		  </div>
		</nav>
	</div>
	<!-- Termina encabezado -->
	<!-- Inicia cuerpo -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="jumbotron">
				  <h1 class="display-4">GobData</h1>
				  <p class="lead">Aplicación para la gestión de solicitudes de acceso a la información pública.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card text-white bg-success mb-6">
				  <div class="card-header">Solicitud simple</div>
				  <div class="card-body">
					<h5 class="card-title">¿Interesado en datos de una alcaldía?</h5>
					<p class="card-text">Si te interesan datos de una alcaldía, puedes hacer clic en el botón. Puedes pedir todo lo que imagines.</p>
					<button type="button" class="btn btn-warning">Success</button>
				  </div>
				</div>
			</div>
			<div class="col-sm-6">
					<div class="card text-white bg-success mb-6">
				  <div class="card-header">Solicitud compuesta</div>
				  <div class="card-body">
					<h5 class="card-title">¿Querés datos de más de una municipalidad?</h5>
					<p class="card-text">Si lo que te interesa es enviar una misma solicitud en masa, es decir, a dos o más alcaldías a la vez, haz clic sobre el botón.</p>
					<button type="button" class="btn btn-warning">Success</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<!-- Finaliza cuerpo -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>